.interface {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10000;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 160px;
}
.interface > div {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
}
.interface > div:first-child {
  margin-top: 0;
}
.interface > div:last-child {
  margin-bottom: 0;
}

.interface input {
  padding: 10px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: 0px solid white;
  flex-grow: 2;
  width: auto;
}

.interface label {
  color: white;
  background-color: rgb(241, 67, 65);
  height: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
}
